.homeContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 60px 20px;
  padding: 0 20px;
  text-align: center;
  color: #000;
  border-radius: 30px;
  box-shadow: 0 0 10px 0;
  backdrop-filter: blur(10px);
}

.welcome {
  margin-top: 3rem;
  margin-bottom: 2rem;
  font-size: 20px;
}

.question {
  font-size: 15px;
  padding: 10px;
}

.optionsContainer {
  display: flex;
  flex-direction: row;
}

.option {
  margin: 1rem;
  border-radius: 10px;
  font-size: 15px;
  padding: 10px 12px;
}

.selected {
  background-color: rgba(231, 205, 122, 0.742);
  border: none;
}

.buttonsContainer {
  margin-bottom: 30px;
}

.previousButton {
  border-radius: 10px;
  margin: 1rem;
  font-size: 12px;
  padding: 10px 10px;
}

.nextButton {
  border-radius: 10px;
  margin: 1rem;
  font-size: 12px;
  padding: 10px 22px;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .homeContainer {
    margin: 5rem;
  }

  .welcome {
    font-size: 30px;
  }

  .question {
    font-size: 20px;
  }

  .optionsContainer {
    justify-content: center;
  }

  .option {
    font-size: 15px;
    padding: 20px 45px;
  }

  .previousButton {
    font-size: 20px;
    padding: 15px;
  }

  .nextButton {
    font-size: 20px;
    padding: 16px 35px;
  }
}

@media screen and (min-width: 1025px) {
  .homeContainer {
    margin: 10rem;
  }

  .welcome {
    font-size: 35px;
  }

  .question {
    font-size: 25px;
  }

  .optionsContainer {
    justify-content: center;
  }

  .option {
    font-size: 20px;
    padding: 20px 45px;
  }

  .previousButton {
    font-size: 25px;
    padding: 15px;
  }

  .nextButton {
    font-size: 25px;
    padding: 16px 35px;
  }
}
