.mainQuote {
  display: flex;
  margin-top: 8rem;
  margin-left: 40px;
  margin-right: 40px;
  padding: 4rem;
  font-size: 25px;
  border-radius: 30px;
  box-shadow: 0 0 10px 0;
  backdrop-filter: blur(10px);
  justify-content: center;
}
