body {
  margin: 0;
  background-image: url('/images/newbackground.png');
  background-repeat: no-repeat;
  background-size: 100rem 75rem;
  font-family: 'Lexend-normal', Arial, Helvetica, sans-serif;
}

@font-face {
  font-family: 'Patrick Hand';
  src: url(./fonts/Lexend-Bold.ttf);
}

@font-face {
  font-family: 'Lexend-normal';
  src: url(./fonts/Lexend-Regular.ttf);
}
